app-hero-layout-container {
	display: flex;
	> {
		section {
			width: 220px;
			order: 2;
		}
		main {
			flex: 1;
			order: 1;
		}
	}
}

.top-heroes {
	h3 {
		border-bottom: 4px solid $primary-color;
		border-right: 12px solid transparent;
	}
}

app-hero-search {
	width: 95%;
	margin: 0 auto;
}