app-hero-layout-container {
	display: flex;
	> {
		section {
			width: 220px;
		}
		main {
			flex: 1;
		}
	}
}

.top-heroes {
	h3 {
		border-bottom: 4px solid $primary-color;
		border-right: 12px solid transparent;
	}
}