
$terminal-autocomplete-text-color: #f3f3f3 !default;
$terminal-autocomplete-bg-color: #333 !default;

$terminal-autocomplete-help-text-color: #9d9d9d !default;
$terminal-autocomplete-help-font-size: 0.9em !default;

$terminal-autocomplete-text-color-selected: null !default;
$terminal-autocomplete-bg-color-selected: #451e7b !default;

ssv-terminal {
	display: block;

	.form-group {
		margin: 0;
	}

	.terminal-autocomplete {
		position: relative;
	}

	ul {
		position: absolute;
		list-style: none;
		padding: 0;
		width: 100%;
		margin-top: -3px;
		color: $terminal-autocomplete-text-color;
		background: $terminal-autocomplete-bg-color;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		li {
			padding: 0.3em 1em;
			&.selected {
				background-color: $terminal-autocomplete-bg-color-selected;
				color: $terminal-autocomplete-text-color-selected;
			}
			&:first-child {
				margin-top: 3px;
			}
			&:last-child {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			i {
				color: $terminal-autocomplete-help-text-color;
				font-size: $terminal-autocomplete-help-font-size;
			}
		}
	}
}