
$terminal-autocomplete-height: 150px !default;
$terminal-autocomplete-text-color: #f3f3f3 !default;
$terminal-autocomplete-bg-color: rgba(34,34,34,0.9) !default;

$terminal-autocomplete-help-text-color: #9d9d9d !default;
$terminal-autocomplete-help-font-size: 0.9em !default;

$terminal-autocomplete-text-color-selected: null !default;
$terminal-autocomplete-bg-color-selected: #564075 !default;


ssv-terminal {
	display: block;

	.form-group {
		margin: 0;
	}

	.terminal-autocomplete {
		position: relative;

		&-inner {
			position: absolute;
			padding: 0;
			padding-top: 0.5em;
			width: 100%;
			margin-top: -2px;
			color: $terminal-autocomplete-text-color;
			background: $terminal-autocomplete-bg-color;
			border-bottom-left-radius: 4px;
			border-bottom-right-radius: 4px;
		}

		&-hint {
			margin-left: 1em;
			color: $terminal-autocomplete-help-text-color;
			font-size: $terminal-autocomplete-help-font-size;
		}

		::-webkit-scrollbar {
			width: 12px;
		}

		::-webkit-scrollbar-track {
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
			border-radius: 10px;
		}

		::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: rgba(34,34,34,0.9);
			-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
		}
	}

	ul {
		list-style: none;
		padding: 0;
		height: $terminal-autocomplete-height;
		overflow: auto;
		li {
			padding: 0.3em 1em;
			&.selected {
				background-color: $terminal-autocomplete-bg-color-selected;
				color: $terminal-autocomplete-text-color-selected;
			}
			&:first-child {
				margin-top: 3px;
			}
			&:last-child {
				border-bottom-left-radius: 4px;
				border-bottom-right-radius: 4px;
			}
			i {
				color: $terminal-autocomplete-help-text-color;
				font-size: $terminal-autocomplete-help-font-size;
			}
		}
	}
}