<form (ngSubmit)="execute()">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-console"></i> 
			</span>
			<input type="text"
				name="command"
				class="form-control"
				[formControl]="command"
				autocomplete="off"
				spellcheck="false"
				autocorrect="off"
				placeholder="enter a command and press enter or help..." />
		</div>
	</div>
	<div class="terminal-autocomplete" >
		<div class="terminal-autocomplete-inner" *ngIf="commands$ | async">
			<span class="terminal-autocomplete-hint">*Press <kbd>Tab</kbd> to cycle between commands</span>
			<span class="terminal-autocomplete-hint">*Press <kbd>Enter</kbd> to execute</span>
			<ul>
				<li *ngFor="let item of commands"
					[class.selected]="item === predictedCommand">
					<strong>{{item.name}}</strong> <i *ngIf="item.helpText">- {{item.helpText}}</i>
				</li>
			</ul>
		</div>
	</div>
	<div>
		<h2>Debug</h2>
		<div>
			<span>Index</span>={{commandIndex}}
		</div>
		<div>
			<span>Predicted Command</span> {{predictedCommand | json}}
		</div>
	</div>
</form>