<h1>Terminal Lab</h1>
<p>Experimental area for terminal.</p>
<main>
	<form (ngSubmit)="execute()">
		<div class="form-group">
			<div class="input-group">
				<span class="input-group-addon">
			<i class="glyphicon glyphicon-console"></i> 
			</span>
				<input type="text"
					name="command"
					class="form-control"
					[formControl]="command"
					autocomplete="off"
					spellcheck="false"
					autocorrect="off"
					placeholder="enter a command and press enter..." />
			</div>
		</div>
		<ul>
			<li *ngFor="let item of commands$ | async">
				<strong>{{item.name}}</strong> <i *ngIf="item.helpText">- {{item.helpText}}</i>
			</li>
		</ul>
	</form>
	<div>
		<h2>Health {{health}}</h2>
	</div>
</main>