<form (ngSubmit)="execute()">
	<div class="form-group">
		<div class="input-group">
			<span class="input-group-addon">
			<i class="glyphicon glyphicon-console"></i> 
			</span>
			<input type="text"
				name="command"
				class="form-control"
				[formControl]="command"
				autocomplete="off"
				spellcheck="false"
				autocorrect="off"
				placeholder="enter a command and press enter or help..." />
		</div>
	</div>
	<ul>
		<li *ngFor="let item of commands$ | async">
			<strong>{{item.name}}</strong> <i *ngIf="item.helpText">- {{item.helpText}}</i>
		</li>
	</ul>
</form>